@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar {
  display: none;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
#root {
  /* max-width: 1280px;
  margin: 0 auto; */
  padding: 2rem;
  text-align: center;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  background-color: red;
}
label.label input[type="file"] {
  position: absolute;
  top: -1000px;
}
.label {
  cursor: pointer;
  border: 1px solid #cccccc;
  border-radius: 49%;
  padding: 15px 30px;
  margin-top: 76px;
  margin-bottom: 10px;
  border: 1px solid rgba(238, 216, 192, 1);
  display: inline-block;
  color: rgba(238, 216, 192, 1);
}

.label:hover {
  background: rgba(238, 216, 192, 1);

  color: #fff;
}
.label:active {
  background: rgba(238, 216, 192, 1);

  color: #fff;
}
.label:invalid + span {
  color: #000000;
}
.label:valid + span {
  color: #f11d1d;
}
.progressbar {
  position: relative;
  overflow: hidden;
  width: 1000px;
  height: 7px;
  border-radius: 5px;
  font-size: 3px;
  background-color: #eee;
  transition: all 0.5s;
}

.progressPercent {
  font-weight: 600;
  font-family: "Franklin Gothic Medium";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #eee;
  text-shadow: -1px 0 #555, 0 1px #555, 1px 0 #555, 0 -1px #555;
}

.btn {
  display: block;
  margin: 5rem auto;
  border: none;
  border-radius: 3px;
  outline: none;
  width: 100px;
  height: 40px;
  background-color: #937dc2;
  transition: box-shadow 0.5s;
  font-size: 16px;
  font-family: arial;
  color: #fff;
  cursor: pointer;
}

.btn:hover {
  -webkit-box-shadow: inset 100px 0 0 0 #7c54d1;
  box-shadow: inset 100px 0 0 0 #7c54d1;
}

@media (max-width: 1250px) {
  .progressbar {
    width: 650px;
  }
}
@media (max-width: 750px) {
  .label {
    padding: 5px 20px;
  }
  .progressbar {
    width: 80%;
  }
}

@media (max-width: 450px) {
  .label {
    padding: 3px 15px;
  }
  .progressbar {
    width: 80%;
  }
}
@media (max-width: 250px) {
  .label {
    padding: 2px 10px;
  }
  .progressbar {
    width: 80%;
  }
}
.transition {
  transition: all 0.5s;
}
